<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script defer src="../../js/buypackage.js" data-th-src="@{/js/buypackage.js}"></script>
    <title>Buy package</title>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand h1" th:href="@{homepage}">Telco</a>
        <span class="d-flex" th:if="${user != null}">
                Welcome back, <a th:href="@{userprofile}" th:text="${' ' + user}">user</a>!
            </span>
        <a th:href="@{/}" th:if="${user == null}" class="d-flex">Login/Register</a>
    </div>
</nav>
<div class="container">
    <br>
    <h1>Buy package</h1>

    <hr>

    <div class="card m-3" >
        <div class="card-body" >

            <h3 class="card-title" data-th-text = ${package.name}> Service Package name</h3>
            <hr>
            <h5>Services</h5>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item" data-th-each="service : ${package.services}">
                    <span data-th-text="${service.printService()} + ' - ' + ${service.printExtraFees()}"> Service with extra fee</span>
                </li>
            </ul>
            <hr>
        </div>
    </div>

    <hr>

    <form name="mainForm" id="mainForm" onsubmit="return onSubmit()" data-th-action="@{'/buypackage'}" method="post">
    <div class="row">
        <div class="col">
            <div class="card m-3" >
                <div class="card-body" data-th-if="${package.products} != null">
                    <h3 class="card-title" > Select optional products </h3>
                    <hr>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" data-th-each="product : ${package.products}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" data-th-value="${product.id}" data-th-id="${'check' + product.id}" name="optionalProducts">
                                <label class="form-check-label" data-th-for="${'check' + product.id}" data-th-text="${product.name}  + ' - ' + ${product.fee}  + '$'">
                                    Default checkbox
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-body" data-th-if="${package.products} == null">
                    <h3 class="card-title" > Optional products not available for this package</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-3" >
                <div class="card-body" >
                    <h3 class="card-title"> Select validity period </h3>
                    <hr>
                    <div class="form-check" data-th-each="period : ${package.packageValidityPeriods}">
                        <input class="form-check-input" type="radio" name="vp" id="vp" data-th-value="${period.id}" checked>
                        <label class="form-check-label" for="vp" data-th-text="${period.months} + ' - ' + ${period.fee} + '$/month'">
                            months with fee
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-3 p-3">
            <div class="row g-3 align-items-center">
                <label for="startDate" class="col-2 col-form-label">Select start date:</label>
                <div class="col-6">
                    <input type="date" class="form-control" id="startDate" name="startDate"/>
                </div>
                <button type="submit" class="col-4 btn btn-primary btn-lg float-end">Buy package</button>
            </div>
        </div>


    </div>
    </form>



</div>
</body>
</html>